<h1 class="page-header">Contacts</h1>
<div id="status"></div>
<br /> <br />
<form id="create-form" role="form">
  <div class="form-group">
    <label for="first-name" class="control-label"> First Name: </label>
    <input type="text" name="first-name" id="first-name" class="form-control" />
  </div>
  <div class="form-group">
    <label for="last-name" class="control-label"> Last Name: </label>
    <input type="text" name="last-name" id="last-name" class="form-control" />
  </div>
  <div class="form-group">
    <label for="email" class="control-label"> Email: </label>
    <input type="text" name="email" id="email" class="form-control" />
  </div>
  <input type="submit" class="btn btn-success" name="submit-create" id="submit-create" value="Create Contact" />
</form>
<br /> <br />
<div class="col-md-6">
  <table class="table table-striped">
    <thead><tr><th>First Name</th><th>Last Name</th><th>Email</th><th></th></tr></thead>
    <tbody id="contact-list-body">
    </tbody>
  </table>
</div> 
